<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2>Restaurent Record App</h2>
        <div class="d-flex">
            <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Restaurent</button>
        </div>
    </div>
</nav>
<!-- Jumbotron -->
<div class="p-5 mb-4 bg-light rounded-3">
<div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Restaurent Records Management</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-</p>
    <button class="btn btn-primary btn-lg" role="button">Testcodeiz</button>
  </div>
</div>
  
<!-- table shown here -->

<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">Restaurent ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Address</th>
            <th scope="col">Service</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
<tbody>
    <tr *ngFor="let data of allRestaurantData">
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td>{{data.mobile}}</td>
        <td>{{data.address}}</td>
        <td>{{data.services}}</td>
        <td>
            <button  (click)="onEditResto(data)" class="btn btn-info m-2">Edit</button><span></span>
            <button (click)="deleteResto(data)" class="btn btn-danger m-2">Delete</button>

        </td>
    </tr>
</tbody>
</table>

<!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Name</label>
                  <input type="text" formControlName="name" class="form-control" placeholder="Restaurent Name" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email Id</label>
                    <input type="email" formControlName="email" class="form-control" placeholder="Restaurent Email Id" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Mobile</label>
                    <input type="email" formControlName="mobile" class="form-control" id="exampleInputEmail1" placeholder="Restaurent Mobile" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Address</label>
                    <input type="email"  formControlName="address" class="form-control" id="exampleInputEmail1" placeholder="Restaurent Address" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">service</label>
                    <input type="email" formControlName="services"  class="form-control" id="exampleInputEmail1" placeholder="Restaurent service" aria-describedby="emailHelp">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">clear</button>
          <button type="button" class="btn btn-primary" (click)="addResto()">Add Details</button>
          <button type="button" class="btn btn-primary" (click)="updateResto()">update Details</button>

        </div>
      </div>
    </div>
  </div>
